.navbar {
  /* position: relative; */
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.link {
  padding: 0.5em;
}

/* .linkUpload {
  margin-left: 1em;
}

.link2 {
  margin-left: 1em;
}

.link3 {
  margin-left: 1em;
} */
