* {
  font-family: "Raleway", sans-serif;
  color: #929aab;
}

body {
  background-color: #eff0f4;
}

table {
  border-collapse: collapse;
  width: 100%;
}
tr {
  height: 70px;
}

th,
td {
  padding: 8px;
  text-align: left;
  /* border-bottom: 1px solid rgb(116, 33, 33); */
}

#titles {
  font-weight: bold;
}

tr#allSongs:hover {
  background-color: #c4f0c5;
  border-radius: 50%;
}

h2 {
  color: #929aab;
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
  font-weight: lighter;
}

a {
  color: #929aab;
  text-decoration: unset;
  font-size: x-large;
}

/* i.anticon.anticon {
  margin-left: 3em;
  color: #929aab;
} */

audio {
  height: 0px;
}

div.row {
  display: flex;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 40%;
  margin-top: 90px;
  /* margin: 5px auto 5px; */
  margin-left: auto;
  margin-right: auto;
}

#submit {
  margin-left: 15em;
  margin-top: 2em;
}
